
/* utility */

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: Fredoka;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

html {
    background-color: rgb(255, 255, 255);
}



header {
    text-align: center;
    padding: 20px;
    color: #e53170;
}
.card p {
    color: white;
    line-height: 20px;
}
main {
    width: 70%;
    margin: 0 auto;
}
main > p{
    text-align: center;
    margin-bottom: 100px;
}

        /* Impostazioni delle card */

.card {
    background-color: black;
    float: left;
    width: calc((100% - 40px) / 3);
    
    
}
.primariga{
    margin-bottom: 50px;
}
.mrgn{
    margin: 0 20px;
}
.card img {
    float: left;
    width: 150px;
    padding-right: 10px;
}
h3 {
    color: white;
    margin: 10px 10px;
}
.card p {
    line-height: 40px;
}